// colors
$textColor: #2c3e50;
$linkColor: #3498db;

// font
$mainFont: -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;

// line-height
$mainLineHeight: 1.6;

// break point
$spBreakPoint: 768px; // SPレイアウトになる横幅