.Button {
  display: inline-block;
  font-size: 1.4rem;
  line-height: $mainLineHeight;
  color: $whiteColor;
  background-color: $mainColor;
  padding: 8px 15px;
  min-width: 100px;
  border-radius: 5px;

  // colors
  &.-green {
    background-color: $greenColor;
  }

  &.-blue {
    background-color: $blueColor;
  }

  &.-red {
    background-color: $redColor;
  }

  &.-gray {
    background-color: $grayColor;
  }

  // size
  &.-small {
    font-size: 1.2rem;
    padding: 5px 10px;
    min-width: 70px;
  }

  &.-large {
    font-size: 1.6rem;
    padding: 10px 20px;
    min-width: 150px;
  }

  // disabled
  &:not(:disabled),
  &:not(.-disabled) {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}

.Button_text {
}
